.holder.headline {
  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-align: center; 
  height: 70px; 
  width: 100%
}

.col-2, .holder.journal, .holder.entry {
  font-family:'Amatic SC', cursive;
}

.nav-item {
  border: none; 
  background: transparent;
}

.nav-item:focus {
  outline: none;
}

@media only screen and (min-width: 501px) {
  body {
    width: 100%;
    min-height: 730px;
    max-height: 1366px;
    height: auto;
    background: url(../img/flower.jpg);
    background-size: 100% 100%;
    background-repeat: repeat;
  }
}

@media only screen and (max-width: 500px) {
  body {
    width: 100%;
    height: auto;
    background: url(../img/flower.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

.row {
  width: 100%; 
  height: auto;
}

.title {
  font-size: 30px;
}

.holder.entry {
  min-height: 500px;
  height: auto;
  width: 90%;
  text-align: center;
}

.holder.journal {
  font-size: 30px;
  display: flex; 
  flex-direction: column; 
  text-align: center; 
  align-items: center; 
  width: 90%; 
  min-height: 500px; 
  height: auto;
  justify-content: space-around;
}

@media only screen and (max-width: 500px) {
  .holder.journal {
    font-size: 30px;
  display: flex; 
  flex-direction: column; 
  text-align: center; 
  align-items: center; 
  width: 90%; 
  min-height: 500px; 
  height: 100%;
  justify-content: space-around;
  }
}

textarea {
  width: 60%; 
  height: 350px;
}

.holder.footer p {
  font-family: 'Tangerine', serif;
  font-size: 30px;
}

.personal.icons {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.personal.icons i {
  color: black;
}